---
Language:     Cpp
BasedOnStyle: Microsoft
ColumnLimit:  140

# Headers
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:        '^<.+>$'
    Priority:     0
    SortPriority: 1
  - Regex:        '^".+"$'
    Priority:     1
    SortPriority: 2
IncludeIsMainSourceRegex: '(\.impl(\..+)?\.hpp)$'

# General formatting
AlignAfterOpenBracket: DontAlign
AlignEscapedNewlines: DontAlign
AlignTrailingComments: false
AllowAllConstructorInitializersOnNextLine: false
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortLambdasOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: true
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon
ConstructorInitializerAllOnOneLineOrOnePerLine: true
DerivePointerAlignment: false
FixNamespaceComments: false
PointerAlignment: Left
SpaceAfterTemplateKeyword: false

# Braces
BraceWrapping:
  BeforeLambdaBody: true
  SplitEmptyFunction: false
Cpp11BracedListStyle: false
SpaceBeforeCpp11BracedList: true
SpaceInEmptyBlock: true

# Indentation
UseTab: Always
TabWidth: 4
IndentWidth: 4
AccessModifierOffset: -4
NamespaceIndentation: All
IndentPPDirectives: AfterHash
...
